django>2.2,<3.0
django-extensions>=3.1
graphene-django~=2.15.0
jwt>=1.1.0
django-hurricane==0.9.0
docker~=4.1.0
pyyaml~=5.4.1
gitpython~=3.1.24
python-keycloak~=0.27.0
python-keycloak-client~=0.2.3
coverage>=5.3
coveralls==3.3.1
requests==2.26.0